
@{
    ViewBag.Title = "Index";
   
}

<h2>Customer List</h2>

<div id="Customerlist">
    @section ReactScripts {


        <script src="~/Scripts/React/dist/app.bundle.js"></script>
        <script src="~/Scripts/React/dist/AddEditCustomer.bundle.js"></script>

        <script src="~/Scripts/React/dist/DeleteCustomer.bundle.js"></script>


    }

</div>



