
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sales</h2>
<div id="Saleslist">
    @section ReactScripts {
        <script src="~/Scripts/React/dist/FetchSales.bundle.js"></script>
        <script src="~/Scripts/React/dist/AddEditSale.bundle.js"></script>

    }

</div>

