
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Store List</h2>

<div id="Storelist">
    @section ReactScripts {
        <script src="~/Scripts/React/dist/AddEditStore.bundle.js"></script>
        <script src="~/Scripts/React/dist/DeleteStore.bundle.js"></script>
        <script src="~/Scripts/React/dist/FetchStore.bundle.js"></script>

    }

</div>

